# Flutter / Dart
**/build/
**/.dart_tool/
**/.pub-cache/
**/.pub/
**/.flutter-plugins-dependencies
**/coverage/

# Android build outputs
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/*.apk
**/*.aab
**/.gradle/
**/local.properties
.gitignore
# OS & IDE
.DS_Store
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Logs & temp
*.log
*.tmp
.agent
.agent*
M3-Play/*
SpotiFLAC-Mobile-4.6.0/*
SpotiFLAC-Extension-5708fb7d5150cc2b6dfb0eb5b7bff5207752b09d/*
CloudTune/*
